<%- include('partials/header.ejs') %>

        <h1>Pixabay Search Results</h1>
        
        <form method="GET" action="/results">
            Keyword: <input type="text" name="keyword">
            <select name="orientation">
                <option>Orientation</option>
                <option>vertical</option>
                <option>horizontal</option>
            </select>
            <button>Search!</button>
        </form>
        <br>
        
        <br>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h3>Likes: <%= likes[0]%> </h3>
                    <img src='<%= images.hits[indexes[0]].largeImageURL %>' width='250'>
                </div>
                
                <div class="col-3">
                    <h3>Likes: <%= likes[1]%> </h3>
                    <img src='<%= images.hits[indexes[1]].largeImageURL %>' width='250'>
                </div>
                
                <div class="col-3">
                    <h3>Likes: <%= likes[2]%> </h3>
                    <img src='<%= images.hits[indexes[2]].largeImageURL %>' width='250'>
                </div>
                
                <div class="col-3">
                    <h3>Likes: <%= likes[3]%> </h3>
                    <img src='<%= images.hits[indexes[3]].largeImageURL %>' width='250'>
                </div>                
            </div>
        </div>
        

<%- include('partials/footer.ejs') %>
