        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h3>Likes: <%= likes[0]%> </h3>
                    <img src='<%= images.hits[indexes[0]].largeImageURL %>' width='250'>
                </div>
                
                <div class="col-3">
                    <h3>Likes: <%= likes[1]%> </h3>
                    <img src='<%= images.hits[indexes[1]].largeImageURL %>' width='250'>
                </div>
                
                <div class="col-3">
                    <h3>Likes: <%= likes[2]%> </h3>
                    <img src='<%= images.hits[indexes[2]].largeImageURL %>' width='250'>
                </div>
                
                <div class="col-3">
                    <h3>Likes: <%= likes[3]%> </h3>
                    <img src='<%= images.hits[indexes[3]].largeImageURL %>' width='250'>
                </div>                
            </div>
        </div>